<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Storage permissions for accessing local audio files -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ViPERPlayer">
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        
        <activity
            android:name=".LocalSettingsActivity"
            android:exported="true"/>

        <service android:name=".LocalService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.viperplayer.plugin.ViperPluginService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.viperplayer.plugin.NAME"
            android:value="Local Files" />
    </application>

</manifest>